export(SignatureDataset)
export(SignatureResults)
export(make_gene_state_comparisons)
export(build_dataset)
export(fit_classifier)
export(compute_shap)
export(discover_signatures)
export(plot_shap)
export(plot_gene_umap)
export(cluster_signatures)
S3method(print,SignatureDataset)
S3method(print,SignatureResults)
S3method(plot,SignatureClusters)
